body {
    background-color: #1c1e26;
    color: #c0caf5;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

h5{
    text-align: center;
}
.circuitoimg{
    display: block;
    margin: 0 auto;
    width: 600px;
}

