body {
    background-color: #1c1e26;
    color: rgb(182, 64, 64);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


a {
    color: pink;
}

.tilde-column {
    background-color: #1c1e26;
    color: #6b7280;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    text-align: center;
}

.title {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.subtitle {
    margin-bottom: 1.5em;
    color: #806b70;
}

.posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.posts li {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-bottom: 0.5em;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.posts a {
    color: rgb(182, 64, 64);
    text-decoration: none;
    padding: 0.5em;
    transition: background-color 0.3s;
}

.posts span {
    color: #6b7280;
    margin-left: 10px;
    padding: 0.5em;
}

.posts li:hover {
    background-color: #2d3341;
    border-radius: 20px;
    
}

.footer {
    margin-top: 2em;
}

.footer a {
    color: rgb(182, 64, 64);
    text-decoration: none;
    margin-right: 15px;
}

.footer a:last-child {
    margin-right: 0;
}
